<br>
<center><h1>Welcome to CV Management App!</h1>
<hr>
When i started making my first ruby on rails app, it worked great on local development environment. The idea was simple enough, the app would generate the CV for the user and also let them download it. So, i thought, why not deploy in production server?
There are places where we can deploy your ruby on rails app for free such as heroku. <a href="https://cdrrazan.com/blog/tech/18/02/deploying-your-first-rails-app-in-digitalocean/" target="_blank"> Read more here...</a>
<br>
<br>
<iframe width="100%" height="360px" src="https://www.youtube.com/embed/pgWWUrI9ZCs" frameborder="0" allow="autoplay; encrypted-media"></iframe>
</center>
