<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Admin</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel" style="color:black">If you have been supplied admin-url, enter here!</h4>
            </div>
            <div class="modal-body">
                <script>
                function process() {
                var url = "/" + document.getElementById("url").value;
                location.href = url;
                return false;
                }
                </script>

                <form onSubmit="return process();">
                    <p style="color:black"> URL:
                        <input type="text" name="url" id="url" style="color:black">
                        <input type="submit" value="Admin Dashboard" style="color:black">
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
