<% if user_signed_in? %>
  <!-- <li>
    <%= link_to 'Make new CV', new_cvm_path %>
  </li> -->
  <li>
    <%= link_to 'CV', my_cv_path %>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Option
      <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to 'About', about_path %>
      </li>
      <li>
        <%= link_to 'Contact', contact_path %>
      </li>
      <li>
        <%= link_to 'Settings', edit_user_registration_path %>
      </li>
    </ul>
  </li>
  <li>
    <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
  </li>
<% end %>
