<% if !user_signed_in? %>
<li>
  <%= link_to 'Login', new_user_session_path %>
</li>
<li>
  <%= link_to 'Signup', new_user_registration_path %>
</li>
<!-- <li>
  <%= link_to 'About', about_path %>
</li>
 --><li>
  <%= link_to 'Contact', contact_path %>
</li>
<% end %>
